@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a:hover {
	cursor: pointer;
}

.nav-header--icon {
	border-radius: 50%;
	position: relative;
	background-color: white;
	transition: all .25s ease;
	padding: 0.625rem;
}

.nav-header--icon:hover {
	background-color: #f0f0f0;
	cursor: pointer;
}

.nav-header--profile {
	border-radius: 50%;
	position: relative;
	background-color: white;
	transition: all .25s ease;
	padding: 0.625rem;
}

.nav-header--profile:hover {
	background-color: #f0f0f0;
	cursor: pointer;
}

.nav-header--home {
	border-radius: 24px;
	position: relative;
	background-color: white;
	transition: all .25s ease;
	padding: 0.25rem;
}

.nav-header--home:hover {
	background-color: #d7edff;
	cursor: pointer;
}

.profile--picture {
	border-radius: 50%;
	position: relative;
	background-color: white;
	transition: all .25s ease;
	padding: 0.25rem;
}

.profile--picture:hover{
	background-color: #d7edff;
	cursor: pointer;
}

.nav--search {
	max-width: 64%;
}

.nav-header__mobile > .mobile-navigation {
	display: none;
}

.nav-header__mobile > .nav-header--icon {
	display: none;
}

.nav-header__mobile > .nav-header--profile {
	display: none;
}

.wrapper {
	padding: 1rem;
}

.main-masonry-grid {
	display: -webkit-box; /* Not needed if autoprefixing */
	display: -ms-flexbox; /* Not needed if autoprefixing */
	display: flex;
	margin-left: -1rem; /* gutter size offset */
	width: auto;
}
.main-masonry-grid_column {
	padding-left: 1rem; /* gutter size */
	background-clip: padding-box;
}

/* Style the grid items */
.main-masonry-grid_column > div { /* change div to reference the elements in <Masonry> if needed */
	background: white;
	margin-bottom: 1rem;
	border-radius: 1rem;
}

.main-masonry-grid_column > div > img {
	border-radius: 1rem;
}

.main-masonry-grid_column > div > img:hover {
	-webkit-filter: brightness(.7);
	filter: brightness(.7);
}

.main-masonry-grid_column > div > a> img {
	border-radius: 1rem;
}

.main-masonry-grid_column > div > a> img:hover {
	-webkit-filter: brightness(.7);
	filter: brightness(.7);
}


@media screen and (max-width: 600px) {

	.nav-header {
		justify-content: center;
	}

	.nav-header > .nav-header--icon {
		display: none;
	}

	.nav-header > .nav-header--profile {
		display: none;
	}

	.nav-header__mobile > .nav-header--icon {
		display: block;
	}
	
	.nav-header__mobile > .nav-header--profile {
		display: block;
	}

	.nav-header__mobile {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.nav-header__mobile > .nav-header--button {
		display: none;
	}

	.nav-header__mobile > .mobile-navigation {
		display: block;
	}

	.profile {
		padding-top: 0.5rem;
	}

}